*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

#menu-icon{ 
    position: absolute;
    left: 93%;
    top: 40px;
    display: none;
} 

img{
    width: 120px;
    height: 100px;
    margin-left: 20px;
    
}


header{ 
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100px;
    margin-top: -100px;
    background-color: white;
    border-bottom: solid 1px rgb(220, 218, 218);
 } 

 
nav{
    display: block;
}
nav ul{
    display: flex;
    margin-top: 30px;
    margin-left: 300px;
}    
nav ul li{
    padding: 20px;
    list-style: none;
    text-align: center;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    
}

nav ul li a:hover{
    font-size:21px; 
    color: rgb(21, 21, 245);
    transition: 0.5s;
}

#home{
    background-image: url('home.jpg');
    margin-top: 90px;
    height: 470px;
    background-size: cover;
    background-position: center;
}
#opacity{
    height: 470px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.842);
    opacity: 0.3;
}
#home h3{
    color: rgb(255, 255, 255);
    font-size: 40px;
    line-height: 50px;
    width: 50%;
    position: absolute;
    top: 190px;
    right: 180px;
    text-align: center;
}
#home h3 span{
    color: rgb(56, 56, 57);
    font-size: 60px;
}
#ev h4{
    width: 70%;
    padding: 30px;
    border: solid black 2px;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 110px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

#type{
    display: flex;
}
#type div{
    padding: 40px;
    box-shadow: 1px 1px 3px 3px rgba(60, 57, 244, 0.726);
    border: none;
    border-radius: 110px;
    text-align: center;
    margin: 20px;
    width: 30%;
}
#type div img{
    width: 90px;
    height: 90px;
}
#bene{
    display: flex;
    flex-wrap: wrap;
}
#bene div{
    padding: 40px;
    box-shadow: 1px 1px 3px 3px rgb(1, 109, 242) ;
    border: none;
    border-radius: 110px;
    text-align: center;
    margin: 30px  70px;
    width: 30%;
}
#benefits img{
    width: 500px;
    height: 350px;
}
.about{
    margin-top: 20px;
    display: flex;
    padding: 10px;
}

.about-text{
    width: 800px;
    text-align: justify;
    line-height: 28px;
    margin-left: 40px;
}
h2{
    font-size: 25px;
    padding: 15px;
    color:rgb(1, 109, 242) ;  
 }
 .about p{
    text-indent: 20px;
    margin-top: 10px;
 }

 .about img{
    width: 83%;
    height: 100%;
    margin-left: 80px;
    
 }
#design{
    
    display: flex;
    padding: 10px;
}

#design img{
    width: 59%;
    height: 100%;
    margin-left: 30px;
}
.design-text{
    width: 800px;
    text-align: justify;
    margin-right: 40px;
    line-height: 28px;
}
h4{
    font-size: 30px;
    padding: 10px;
}
#work{
    
    display: flex;
    padding: 10px;
}
#work img{
    width: 80%;
    height: 100%;
    margin-left: 80px;
}
.work-text{
    width: 800px;
    text-align: justify;
    margin-left: 40px;
    line-height: 28px;
}
#work h2{
    line-height: 50px;
}
footer{
    padding: 15px;
}

/*mobile responsive design*/
@media(max-width:768px){
    .menu-icon{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 40px;
    }
    .menu-icon span{
        display: block;
        width: 30px;
        height: 5px;
        background-color: #333;
        margin-bottom: 5px;
    }
    nav{
        background-color:rgb(1, 109, 242) ;
        border: none;
        border-radius: 15px 0 15px 15px;
        padding: 10px;
        margin-left: 10px;
        margin-top: 10px;
        width: 200px;
        height: 250px;
        display: none;
    }
    nav ul li a:hover{
        font-size:21px;
        color: white; 
        transition: 0.5s;
    }
    nav ul li a{
        color: white;
    }
    nav ul{
        display: block;
        margin-left: 5px;
    }
    nav ul li{
        padding: 10px;
        text-align: left;
    }
    #home h3{
        font-size: 30px;
        width: 80%;
        line-height: 40px;
        position: absolute;
        right: 20px;
        text-align: left;
    }
    #home h3 span{
        font-size: 40px;
    }
    #ev h4{
        margin-left: 33px;
        width: 70%;
    }
    #type{
        display: block;
    }
    #type div{
        margin-left: 65px;
        width: 50%;
    }
    #bene{
        display: block;
    }
    #benefits img{
        width: 300px;
        height: 300px;
    }
    #bene div{
        margin-left: 65px;
        width: 50%;
    }
    .about{
        display: block;
    }
    .about-text{
        width: 92%;
        font-size: 15px;
        line-height: 25px;
        margin-left: 16px;
        
    }
    #design{
        display: block;
    }
    .design-text{
        width: 91%;
        margin-left: 22px;
        font-size: 15px;
        line-height: 25px;
    }
    #design img{
        width: 80%;
    }
    #work{
        display: block;
    }
    .work-text{
        width: 91%;
        font-size: 15px;
        line-height: 25px;
        margin-left: 20px;
    }
    #work img{
        margin-left:40px ;
    }
    .about img{
        margin-left:40px ;
    }
    h4{
        font-size: 25px;
    }
    h2{
        font-size: 35px;
    }
}