*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}

#menu-icon{ 
    position: absolute;
    left: 93%;
    top: 40px;
    display: none;
} 

img{
    width: 120px;
    height: 100px;
    margin-left: 20px;
    
}


header{ 
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100px;
    margin-top: -120px;
    background-color: white;
    border-bottom: solid 1px rgb(220, 218, 218);
 } 

 
nav{
    display: block;
}
nav ul{
    display: flex;
    margin-top: 30px;
    margin-left: 300px;
    
}    
nav ul li{
    padding: 20px;
    list-style: none;
    text-align: center;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    
}

nav ul li a:hover{
    font-size:21px; 
    transition: 0.5s;
}
#title{
    margin-top: 120px;
    display: flex;
}
#title p{
    font-size: 16px;
}
button{
    padding: 10px;
    background-color:rgb(1, 109, 242);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 120px;
}

button a{
    text-decoration: none;
    color: whitesmoke;
}
.hire{
    display: flex;
    margin-top: 30px;
}
h1{
    font-size: 50px;
    margin-left: 100px;
    color: rgb(1, 109, 242);
}
.hire img{
    width: 60px;
    height: 60px;
}
#car{
    width: 400px;
    height: 350px;
    margin-top: -90px;
}
#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#ten,#ten-one,#ten-two{ 
    display: flex;
} 
#management,#projects,#capital,#metal,#fund,#geo,#aero,#adas,#ai,#corporate,#web,#copy,#present,#brand,#cons,#office,#business,#evtol,#creater,#social,#public,#recruitment,#finance{
    padding: 30px;
    /*border: solid 2px rgb(21, 21, 245);*/
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px rgb(143, 143, 146);
    text-align: justify;
    line-height: 25px;
    margin: 20px 20px;
    width: 40%;
    min-height:10vh;
}
h3,h5{
    text-align: center;
}
h3{
    color:rgb(1, 109, 242);
}
#hide,#hide1,#hide2,#hide3,#hide4,#hide5,#hide6,#hide7,#hide8,#hide9,#hide10,#hide11,#hide12,#hide13,#hide14,#hide15,#hide16,#hide17,#hide18,#hide19,#hide20,#hide21,#hide22{
    display: none;
}
#applying{
    display: flex;
}
#apply{
    padding: 30px;
    border: none;
    border-radius: 10px;
    background-color: gainsboro;
    box-shadow: 1px 1px 3px 3px rgb(150, 150, 241);
    line-height: 25px;
    text-align: center;
    margin: 20px 20px;
    width: 40%;
}
#form label{
    display: flex;
    margin-top: 20px;
    margin-left: 90px;
}
input{
    width: 70%;
}
#relax{
    width: 400px;
    height: 300px;
    margin-left: 70px;
}
#apply h2{
    color: rgb(1, 109, 242);
}
#name,#email{
    background-color: gainsboro;
    border: none;
    border-bottom: solid 2px black;
}
#name,#email:focus{
    outline: none;
}
footer{
    padding: 15px;
}

/*mobile responsive design*/
@media(max-width:768px){
    #menu-icon{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 40px;
        margin-left: -30px;
    }
    #menu-icon span{
        display: block;
        width: 30px;
        height: 5px;
        background-color: #333;
        margin-bottom: 5px;
    }
    nav{
        background-color:rgb(1, 109, 242);
        border: none;
        border-radius: 15px 0 15px 15px;
        padding: 10px;
        margin-left: 10px;
        margin-top: 10px;
        width: 200px;
        height: 250px;
        display: none;
    }
    nav ul li a:hover{
        font-size:21px; 
        color: white;
        transition: 0.5s;
    }
    nav ul li a{
        color: white;
    }
    nav ul{
        display: block;
        margin-left: 5px;
    }
    nav ul li{
        padding: 10px;
        text-align: left;
    }
    #title{
        display: block;
    }
    #car{
        margin-top: 5px;
        margin-left: -30px;
    }
    #title p{
        font-size: 12px;
    }
    h1{
        font-size: 30px;
        margin-left: 60px;
    }
    .hire img{
        width: 50px;
        height: 50px;
    }
    #one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#ten,#ten-one,#ten-two{
        display: block;
    }
    #management,#projects,#capital,#metal,#fund,#geo,#aero,#adas,#ai,#corporate,#web,#copy,#present,#brand,#cons,#office,#business,#evtol,#creater,#social,#recruitment,#public,#finance{
        width: 70%;
    }
    #applying{
        display: block;
    }
    #apply{
        width: 70%;
    }
    #form label{
        display: flex;
        margin: 20px 0px 20px 20px;
    }
    #relax{
        width: 300px;
        height: 250px;
        margin-left: 30px;
    }
}